Trainingspartner-Kraftwerk/Assets/Textures/Anonym/Thumbs.db.meta
Trainingspartner-Kraftwerk/Assets/Textures/Kraftwerk_Images/Thumbs.db.meta
Trainingspartner-Kraftwerk/Assets/Textures/Nordwandhalle_Images/Thumbs.db.meta
